@keyframes wpcrs-spinner {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes wpcrs-spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.wpclever_settings_page .select2-container {
    width: 100% !important;
}
